h1, h2, h3, h4, h5, h6 {
    font-family: Abel;
}
a{
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:hover{
        text-decoration: none;
    }
}
.align-right{
    text-align: right;
    .voir-tout{
        &,
        &:hover,
        &:focus,
        &:active{
            color: transparent;
            width: 60px;
            height: 60px;
            display: block;
            display: inline-block;
            &::before {
                color: #ffffff;
                content: "+";
                display: inline-block;
                font-size: 20px;
                height: 60px;
                width: 60px;
                background: @spirit-pink;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.container{
    width: auto;
}
