h1, h2, h3, h4, h5, h6 {
    font-family: Abel;
}
h1, h2{
	letter-spacing: -0.05em;
}
h1{
	line-height: 35px;
}
h2{
	color: @color-grey;
	margin-bottom: 0px;
	line-height: 43.2px;
}
#content p,
#content li{
	font-family: Open Sans;
	font-size: 1.6rem;
	color: rgb(89, 89, 89);
	line-height: 24px;
	margin-bottom: 16px;
}
#content li{
	margin-bottom: 0.25em;
}
h1.documentFirstHeading{
	border-bottom: none;
}
a{
    color: @spirit-pink;
    border-bottom: none !important;
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:hover{
        text-decoration: none;
    }
}
.align-right{
    text-align: right;
    .voir-tout{
        &,
        &:hover,
        &:focus,
        &:active{
            color: transparent;
            width: 60px;
            height: 60px;
            display: block;
            display: inline-block;
            &::before {
                color: #ffffff;
                content: "+";
                display: inline-block;
                font-size: 20px;
                height: 60px;
                width: 60px;
                background: @spirit-pink;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
