//GENERAL
[id="mainnavigation-wrapper"] {
    padding: 1% 0;
    box-sizing: border-box;
}
[id="portal-globalnav"] {
    li{
        padding: 0.25em 0 0.25em 1em;
        list-style-type: none;
    }
    a{
        color: @ideabox-menu-color;
    }
}
//DESKTOP
@media screen and (min-width: 992px){
    [id="portal-globalnav"] {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        > li{
            display: inline;
            span {
                display: inline-block;
                position: relative;
                &:after {
                    content: "\00a0 \00a0 \b848";
                    font-family: fontello;
                    font-size: 130%;
                    position: absolute;
                    top: -10%;
                }
            }
        }
        
    }
    [id="submenu-details"]{
        background: @ideabox-menu-bg;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 1;
    }
    .submenuDynamicItems {
        padding: 0;
        li{
            display: inline-block;
            width: 25%;
        }
        a{
            display: block;
            padding: 1.4em 1.75em;
            font-family: "Open sans";
            font-size: 1.6rem;
        }
    }
}