.portaltype-project {
    #text_with_button{
        #button{
            font-size: 16px;
            padding: 0;
            li{
                display: inline-block;
                padding: 0 1em;
                margin-bottom: 1em;
                cursor: pointer;
                &:first-child{
                    padding-left: 0;
                }
                color: #000;
                position: relative;
                &.current{
                    color: @spirit-pink;
                }
                &::after {
                    display: block;
                    content: "";
                    border-right: 2px solid #000;
                    width: auto;
                    height: 90%;
                    position: absolute;
                    top: 5%;
                    left: 100%;
                }
                &:last-child::after{
                    display: none;
                }
            }
        }
        #text{
            margin-bottom: 4em;
            padding: 0;
            font-size: 16px;
            li{
                display: none;
                font-size: 1em;
                font-family: Abel;
                &.current{
                    display: block;
                }
            }
        }
    }
    .thumb-rating{
        padding: 0.5rem 1em;
        margin-right: 1em;
        background-color: #f2f2f2;
        [class^=thumbs-]{
            font-size: 16px;
            position: relative;
            margin-left: 1rem;
            &::after{
                font-weight: 400;
                font-family: "Font Awesome 5 Free";
                position: absolute;
                left: 0;
                top: 0;
                padding: 0;
                margin: 0;
            }
            input{
                background-image: none;
                z-index: 1;
                position: relative;
                padding: 0;
            }
        }
        .thumbs-up::after{
            content: "\f164";
        }
        .thumbs-down::after{
            content: "\f165";
        }
        [class^=thumbs-].selected::after{
            font-weight: 900;
        }
        form.disabled{
            [class^=total-thumbs-]{
                padding-left: 2rem;
            }
        }
    }
    .img_project{
        width: 100%;
        margin-bottom: 2em;
        padding-bottom: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
